<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.csjweb.mapper.product.CSJ_BargainActivityMapper" >
  <resultMap id="BaseResultMap" type="com.csj.csjweb.model.product.CSJ_BargainActivity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dist_shop_id" property="distShopId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="pro_describe" property="proDescribe" jdbcType="VARCHAR" />
    <result column="activity_describe" property="activityDescribe" jdbcType="VARCHAR" />
    <result column="base_price" property="basePrice" jdbcType="DECIMAL" />
    <result column="pro_price" property="proPrice" jdbcType="DECIMAL" />
    <result column="head_limit" property="headLimit" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bargain_times" property="bargainTimes" jdbcType="INTEGER" />
    <result column="activity_start" property="activityStart" jdbcType="TIMESTAMP" />
    <result column="activity_end" property="activityEnd" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="self_employed" property="selfEmployed" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>