<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.csjweb.mapper.user.CSJ_UserCartDetailMapper" >
  <resultMap id="BaseResultMap" type="com.csj.csjweb.model.user.CSJ_UserCartDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_number" property="productNumber" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
    <result column="certificate_authority" property="certificateAuthority" jdbcType="VARCHAR" />
    <result column="certificate_amount" property="certificateAmount" jdbcType="DECIMAL" />
    <result column="certificate_id" property="certificateId" jdbcType="INTEGER" />
    <result column="certificate_num" property="certificateNum" jdbcType="VARCHAR" />
  </resultMap>
</mapper>