<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.csjweb.mapper.activity.CSJ_CouponMapper" >
  <resultMap id="BaseResultMap" type="com.csj.csjweb.model.activity.CSJ_Coupon" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="trigger_discount" property="triggerDiscount" jdbcType="DECIMAL" />
    <result column="favorable_price" property="favorablePrice" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="published_user_id" property="publishedUserId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="number_received" property="numberReceived" jdbcType="INTEGER" />
    <result column="number_perperson" property="numberPerperson" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
</mapper>