<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csj.csjweb.mapper.qclive.CSJ_QCLiveVODContactMapper" >
  <resultMap id="BaseResultMap" type="com.csj.csjweb.model.qclive.CSJ_QCLiveVODContact" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="live_id" property="liveId" jdbcType="INTEGER" />
    <result column="vod_task_id" property="vodTaskId" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="contact_file_ids" property="contactFileIds" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="call_back_time" property="callBackTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>